@CHARSET "UTF-8";

.autoInput1{
	height: 30px;
	line-height: 30px;
	width: 150px;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #fffdf0;height: 26px;line-height: 26px; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF;height: 26px;line-height: 26px;  }

/**类型二样式**/
#input{
	width:300px;
	height:35px;
	display:block;
	border:3px #ef4c6c solid;
}
ul{
	width: 300px;
	background-color: #fff;
	border:3px #ef4c6c solid;
	display:none;
}
li{
	list-style: none;
	height:22px;
    padding-left: 15px;
}
.active{
	background-color: #f2f2f5;
	color: #ffaea3;
}