@CHARSET "UTF-8";

.tableDiv1{
	height: 246px;
	overflow-y: hidden;
}

.box{
	width:600px;
	height: auto;
	margin:0 auto; 
}
.scroll{
	overflow:auto; 
	width: 470px;
	height: 210px;
	padding-right: 25px; 
	margin-top: 18px;
}
.scroll p{
	font-size: 14px;
	color: #9F9F9F;
	line-height: 25px;
}
#scroll-1 {
    overflow:auto;
}  
#scroll-1::-webkit-scrollbar {
    width:10px;
    height:10px;
}
#scroll-1::-webkit-scrollbar-button    {
    /*background-color:#fff;*/
}
#scroll-1::-webkit-scrollbar-track     {
    background:#dfdfdf;
	border-radius:5px;
}
#scroll-1::-webkit-scrollbar-track-piece {
}
#scroll-1::-webkit-scrollbar-thumb{
    background:#888888;
    border-radius:5px;
}
#scroll-1::-webkit-scrollbar-corner {
    background:#82AFFF;
}
#scroll-1::-webkit-scrollbar-resizer  {
    background:#dfdfdf;
}