@CHARSET "UTF-8";

.tableDiv1{
	height: 246px;
	overflow-y: hidden;
}

.box{
	width:600px;
	height: auto;
	margin:0 auto; 
}
.scroll{
	overflow:auto; 
	width: 470px;
	height: 210px;
	padding-right: 25px; 
	margin-top: 18px;
}
.scroll p{
	font-size: 14px;
	color: #9F9F9F;
	line-height: 25px;
}
#scroll-1{
    overflow:auto;
}
/**滚动条整体部分***/  
#scroll-1::-webkit-scrollbar {
    width:10px;
    height:10px;
}
/**滚动条的轨道的两端按钮，允许通过点击微调小方块的位置。***/
#scroll-1::-webkit-scrollbar-button    {
    /*background-color:#fff;*/
}

/***滚动条的轨道（里面装有Thumb）**/
#scroll-1::-webkit-scrollbar-track     {
    background:#dfdfdf;
	border-radius:5px;
}

/***内层轨道，滚动条中间部分（除去）***/
#scroll-1::-webkit-scrollbar-track-piece {
}

/**滚动条里面的小方块，能向上向下移动**/
#scroll-1::-webkit-scrollbar-thumb{
    background:#888888;
    border-radius:5px;
}

/**边角，即两个滚动条的交汇处**/
#scroll-1::-webkit-scrollbar-corner {
    background:#82AFFF;
}

/**两个滚动条的交汇处上用于通过拖动调整元素大小的小控件**/
#scroll-1::-webkit-resizer{
    background:#dfdfdf;
}

a{
	color: #0080FF;
	text-decoration: underline;
}

.outer-container,.content {
    width: 600px;
	height: 210px;
	font-size: 14px;
	color: #9F9F9F;
	line-height: 25px;
}
.outer-container {
    position: relative;
    overflow: hidden;
}
.inner-container {
    position: absolute; left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

 /* for Chrome */
.inner-container::-webkit-scrollbar {
    display: none;
}