@CHARSET "UTF-8";

.box{
	/*width: 1200px;*/
	margin: 0 auto;
	border: 1px solid;
	overflow: hidden;
}
.box-left{
	width: 220px;
	background: red;
	height: 300px;
	float: left;
}
.box-middle{
	margin-left: 220px;
	margin-right: 150px;
}
.box-right{
	width: 150px;
	float: right;
	height: 300px;
	background: #ccc;
}

/**，左侧内容定宽，右侧内容自适应样式***/
.box1{
	/*width: 1200px;*/
	margin: 0 auto;
	border: 1px solid;
	overflow: hidden;
}
.box1-left{
	width: 220px;
	background: red;
	height: 300px;
	float: left;
}
.box1-right{
	margin-left: 220px;
	background: #ccc;
}

/**任意列数均匀布局**/
.container{
	width:400px;
	margin:50px auto 0;
}

.justify{
  text-align: justify;
}

.justify i{
  width:24px;
  line-height:24px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  background: black;
  color: #fff;
}

.justify:after {
  content: "";
  display: inline-block;
  position: relative;
  width: 100%;
}