@CHARSET "UTF-8";

.progress_Box{
	width:300px; 
	height: 30px; 
	border:1px solid #c8c8c8; 
	background: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px; 
	position: relative; 
}
.progress_Bar{ 
	position: absolute; 
	top: 0; 
	left: 0; 
	z-index: 2; 
	height: 30px; 
	width: 100%; 
	line-height: 30px; 
	color: #fff; 
	text-align: center; 
	font-size: 20px; 
	font-weight: bold;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px; 
	background: #00a1f5;
}
.progress_Text{ 
	position: absolute;  
	left: 0; 
	top: 0; 
	z-index: 1; 
	width: 100%; 
	height: 30px; 
	line-height: 30px; 
	color: #000; 
	text-align: center; 
	font-size: 20px; 
	font-weight: bold; 
}

.kr_progressBarBg,.kr_progressBar,.kr_progressBar2{
	width: 250px;
	height: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	background: #eeeeee;
}

.kr_progressBar,.kr_progressBar2{
	width: 150px;
	background: #60caf2;
	position: absolute;
	top: 27px;
}

.kr_progressBar2{
	background: #fa8a93;
	width: 220px;
}

.kr_progressNum,.kr_progressNum2{
	width: 45px;
	height: 24px;
	background: url(../../images/progressNum.png) no-repeat;
	text-align: center;
	color: #60caf2;
	position: absolute;
	top: 0px;
    left: 125px;
}

.kr_progressNum2{
	color: #fa8a93;
	background: url(../../images/progressNum-red.png) no-repeat;
	left: 200px;
}

.progressTotel,.progressRest{
	position: absolute;
	top: 40px;
	left: 0px;	
}

.progressRest{
	left: 170px;
}

/**类型三样式***/
/* 水平进度条-默认蓝色 */
.u-progress{width:200px;height:12px;overflow:hidden;border-radius:3px;box-shadow:inset 0 1px 1px rgba(0,0,0,0.2);background:#f7f7f7;margin-top: 20px;}
.u-progress .pgbar,.u-progress .pging{display:block;width:100%;height:100%;}
.u-progress .pgbar{background:#3a9ed8;background:-webkit-gradient(linear,0% 0%,0% 100%,from(#6fbee5),to(#3a9ed8));background:-webkit-linear-gradient(#6fbee5,#3a9ed8);background:-moz-linear-gradient(#6fbee5,#3a9ed8);background:-ms-linear-gradient(#6fbee5,#3a9ed8);background:linear-gradient(#6fbee5,#3a9ed8);-webkit-transition:width 0.5s linear;-moz-transition:width 0.5s linear;-ms-transition:width 0.5s linear;transition:width 0.5s linear;}
.u-progress .pging{background:-webkit-gradient(linear,0% 0%,100% 100%,from(rgba(0,0,0,0)),to(rgba(255,255,255,0.2)),color-stop(25%,rgba(0,0,0,0)),color-stop(25%,rgba(255,255,255,0.2)),color-stop(50%,rgba(255,255,255,0.2)),color-stop(50%,rgba(0,0,0,0)),color-stop(75%,rgba(0,0,0,0)),color-stop(75%,rgba(255,255,255,0.2)));background:-webkit-linear-gradient(-45deg,rgba(0,0,0,0) 0,rgba(0,0,0,0) 25%,rgba(255,255,255,0.2) 25%,rgba(255,255,255,0.2) 50%,rgba(0,0,0,0) 50%,rgba(0,0,0,0) 75%,rgba(255,255,255,0.2) 75%,rgba(255,255,255,0.2));background:-moz-linear-gradient(-45deg,rgba(0,0,0,0) 0,rgba(0,0,0,0) 25%,rgba(255,255,255,0.2) 25%,rgba(255,255,255,0.2) 50%,rgba(0,0,0,0) 50%,rgba(0,0,0,0) 75%,rgba(255,255,255,0.2) 75%,rgba(255,255,255,0.2));background:-ms-linear-gradient(-45deg,rgba(0,0,0,0) 0,rgba(0,0,0,0) 25%,rgba(255,255,255,0.2) 25%,rgba(255,255,255,0.2) 50%,rgba(0,0,0,0) 50%,rgba(0,0,0,0) 75%,rgba(255,255,255,0.2) 75%,rgba(255,255,255,0.2));background:linear-gradient(-45deg,rgba(0,0,0,0) 0,rgba(0,0,0,0) 25%,rgba(255,255,255,0.2) 25%,rgba(255,255,255,0.2) 50%,rgba(0,0,0,0) 50%,rgba(0,0,0,0) 75%,rgba(255,255,255,0.2) 75%,rgba(255,255,255,0.2));-webkit-background-size:30px 30px;-moz-background-size:30px 30px;-ms-background-size:30px 30px;background-size:30px 30px;-webkit-animation:pging 1s linear infinite;-moz-animation:pging 1s linear infinite;-ms-animation:pging 1s linear infinite;animation:pging 1s linear infinite;}
@-webkit-keyframes pging{0%{background-position:0 0;}100%{background-position:30px 0;}}
@-moz-keyframes pging{0%{background-position:0 0;}100%{background-position:30px 0;}}
@-ms-keyframes pging{0%{background-position:0 0;}100%{background-position:30px 0;}}
@keyframes pging{0%{background-position:0 0;}100%{background-position:30px 0;}}
/* 较佳，绿色 */
.u-progress-c1 .pgbar{background:#50b050;background:-webkit-gradient(linear,0% 0%,0% 100%,from(#69c769),to(#50b050));background:-webkit-linear-gradient(#69c769,#50b050);background:-moz-linear-gradient(#69c769,#50b050);background:-ms-linear-gradient(#69c769,#50b050);background:linear-gradient(#69c769,#50b050);}
/* 中等，黄色 */
.u-progress-c2 .pgbar{background:#f8960b;background:-webkit-gradient(linear,0% 0%,0% 100%,from(#fbb24c),to(#f8960b));background:-webkit-linear-gradient(#fbb24c,#f8960b);background:-moz-linear-gradient(#fbb24c,#f8960b);background:-ms-linear-gradient(#fbb24c,#f8960b);background:linear-gradient(#fbb24c,#f8960b);}
/* 较差，红色 */
.u-progress-c3 .pgbar{background:#cc1c23;background:-webkit-gradient(linear,0% 0%,0% 100%,from(#f0232b),to(#cc1c23));background:-webkit-linear-gradient(#f0232b,#cc1c23);background:-moz-linear-gradient(#f0232b,#cc1c23);background:-ms-linear-gradient(#f0232b,#cc1c23);background:linear-gradient(#f0232b,#cc1c23);}