@CHARSET "UTF-8";

.layout__col {
    text-align: center;
    display: table-cell;
    color: #fff;
}
.layout__col + .layout__col {
    border-left: 10px solid #fff;
}
.layout__main {
    width: 3000px;
	background-color: #4DBCB0;
}
.layout__aside {
	width: 200px;
	min-width: 200px;
	background-color: #4277fc;
}

.leftDiv,.rightDiv{
	width: 300px;
	float: left;
	color: #FFFFFF;
}

.leftDiv{
	background:#4DBCB0;
}

.rightDiv{
	margin-left: 30px;
	background:#4277fc ;
}
