/*声明变量*/
/*调用变量*/
body {
  color: #000;
  border: 1px dotted #000;
  width: 1000px;
  margin: 0 auto;
}
.testDiv1 {
  width: 1000px;
  margin: 0 auto;
  background: #3e78e3;
  text-align: center;
  height: 400px;
}
