@CHARSET "UTF-8";
body{
	background: #fbfbfb;
	font-family: "微软雅黑";
}

.divsection{
	width: 100%;
	min-width: 1200px;
	/*width: 1200px;*/
	margin: 0 auto;
}

.overflowDiv{
	width: 70px;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.font{
	font-family: arial;
}

.font1{
	font-family: "宋体";
}

.color_F{
	color: #FFFFFF;
}

.color_9{
	color: #999999;
}

.color_6{
	color: #666666;
}

.color_3{
	color: #333333;
}

.inputSy{
	width: 100px;
	height: 24px;
	line-height: 24px;
	border: 1px solid #dddddd;
	padding-left: 5px;
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	border-radius:1px;
}

.transparentBtn{
	display: inline-block;
	text-align: center;
    color: #00a8ff;
    border: none;
    font-family: "微软雅黑";
    cursor: pointer;
    outline: none;
}

.fontSize12{
	font-size: 12px;
}

.fontSize14{
	font-size: 14px;
}

.fontSize16{
	font-size: 16px;
}

.table_td1Align{
    vertical-align: top;
    line-height: 25px;
}

.ContentTable tr{
	height: 40px;
	line-height: 40px;
}

.inputTextArea{
	height: 100px;
	width: 100px;
	border: 1px solid #DDDDDD;
	resize: none;
	padding: 5px;
	font-family: "微软雅黑";
	color: #666666;
}

.progressBarBg{
	height: 12px;
	background: #eeeeee;
	width: 270px;
	display: inline-block;
}

.progressBar{
	height: 12px;
	background: #80bfff;
}

.marginBottom{
	margin-bottom: 30px;
}

.table_body1 tr{
	height: 40px;
	line-height: 40px;
}
.table_body1 td{
	border: 1px solid #dddddd;
}

.Ct{
	width: 1200px;
	margin: 0 auto;
}

.marginTop20{
	margin-top: 20px;
}

.table_Head1{
	height: 39px;
	line-height: 39px;
	border: 1px solid #DDDDDD;
	border-bottom: none;
}

.table_Head1 tr{
	height: 39px;
	line-height: 39px;
	border: 1px solid #DDDDDD;
	border-bottom: none;
}

.table_body2 tr{
	height: 35px;
	line-height: 30px;
	border: 1px solid #DDDDDD;
}

.table_body2 td{
	border-top: 1px solid #DDDDDD ;
}

.content_foot{
	height: 49px;
	line-height: 49px;
	border: 1px solid #DDDDDD;
	border-top: none;
}

.content_foot_page{
	padding-top: 5px;
	border: 1px solid #DDDDDD;
	border-top: none;
	height: 30px;
}

.foot_right{
	float: right;
	height: 49px;
	line-height: 49px;
	padding-right: 20px;
}

.space{
	margin-right: 10px;
}

.go{
	width: 22px;
	height: 22px;
	display: inline-block;
	*display:inline;
	*zoom: 1;
	background: url(../../images/go.png) no-repeat;
	vertical-align: middle;
	cursor: pointer;
	margin-bottom: 3px;
}

.numInput{
	width: 40px;
	*vertical-align: middle;
	height:18px;
	line-height: 18px;
}

.color_Blue{
	color: #0079b9;
}

.bgColor{
	background:#fdfdfd;
}

.marginTop{
	margin-top: 10px;
}

.bgColor_grey{
	background: #fbfbfb;
}
